*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color:white;
}

.profile-section{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
    padding:30px;
}

.profile-picture{
    width:150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom:25px;


}

.profile-name{
    font-size: 30px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}
.introduction{
    font-size: 20px;
    color:black;
    margin-bottom:10px;
}

.tagline{
    font-size:18px;
    font-style:italic;
    color:pink;
    margin-bottom:10px;
}

.learn-more {
    display:inline-block;
    background-color: black;
    color: white;
    text-decoration:none;
    padding: 9px 22px;
    border-radius:10px;
    font-size: 16px;
    transition: 0.3s;
}

.learn-more:hover {
    background-color:pink;
}

.about-section{
    width:100%;
    min-height:100vh;
    padding:50px 30px;
    text-align:left;
    background-color:rgb(86, 86, 86);
    color:white;
}

.about-content{
    max-width:800px;
    margin:0 auto;
}

.about-section h2{
    font-size: 28px;
    color: PINK;
    margin-bottom:20px;
}
.about-section p {
     font-size: 18px; 
     line-height: 1.6; 
     margin-bottom: 20px;
 } 
.bio{
    font-style:italic;
}


.about-section h3 { 
    font-size: 22px;
    color:pink;
     margin-top: 35px;
     margin-bottom: 30px; 
}
 .about-section ul { 
    padding-left: 25px;
    margin-bottom: 20px; 
} 
.about-section li{ 
    font-size: 18px;
    margin-bottom: 8px;
}

.skills-section {
    width: 100%;
    min-height: 100vh;
    padding: 50px 30px;
    text-align: center;
    background-color: white;
}

.skills-content {
    max-width: 1000px;
    margin: 0 auto;
}

.skills-section h2 {
    font-size: 28px;
    color: pink;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.skill-card {
    width: 280px;
    padding: 25px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skill-card h3 {
    font-size: 22px;
    color: pink;
    margin-bottom: 10px;
}
